{% extends "app/base.html" %} 
{% load static %} 
{% block title %} Home {% endblock title %} 

{% block css %} <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />{% endblock css %}


{% block body %} 
{% comment %} variable {% endcomment %}

<h1>Hello, {{course.Name}}</h1>
<h1>Version: {{course.version}}</h1>

{% comment %} filter {% endcomment %}
<button type="button" class="btn btn-outline-primary" onclick="display()">
  {{ course.click|upper |slice:'0:5'}}
</button>
<button type="button" class="btn btn-outline-secondary">
  {{ course.click2|lower }}
</button>
<button type="button" class="btn btn-outline-success">
  {{ course.click3|capfirst|truncatewords:2}}
</button>
<button type="button" class="btn btn-outline-danger">
  {{ course.click4|length }}
</button>
<button type="button" class="btn btn-outline-danger">
  {{ course.click5|default:"Nothing" }}
</button>

{% comment %} Date {% endcomment %}
<p class="text-primary">FullDate: {{course.Date}}</p>
<p>FullDate: {{course.Date|date}}</p>
<p>Date: {{course.Date|date:'D M d Y'}}</p>
<p>Date: {{course.Date|date:'SHORT_DATE_FORMAT'}}</p>
<p>Time: {{course.Date|time}}</p>

{% comment %} Float {% endcomment %}
<p>{{ course.floatnum|floatformat:0 }}</p>

{% comment %} if else {% endcomment %} 
{% if course.alert and course.danger|length <= 5 %}
<div class="alert alert-danger" role="alert">
  A simple danger alert—check it out!
</div>

{% else %}
<div class="alert alert-primary" role="alert">
  A simple danger alert—check it out!
</div>
{% endif %} 

{% comment %} loop {% endcomment %} 

{% for key,value in card.items reversed %} {{forloop.counter}}
{% include "app/card.html" %}

{% empty %}
<h2>Nothing here</h2>

{% endfor %} 

{% endblock body %}

{% block footer %} {{ block.super }} This is home footer{% endblock footer %} 