{% extends "custom_authapp/base.html" %}
{% load static %}
{% block title %} Change Password {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'custom_authapp/css/sign.css' %}">
{% endblock css %}

{% block content %}

<div class="login">
    <h1>Change Password</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="user">
            <label for="pass">
                <input type="password" placeholder="Old Password" name="old_password" id="pass" required>
            </label>
        </div>
        <div class="user">
            <label for="pass">
                <input type="password" placeholder="New Password" name="new_password1" id="pass" required>
            </label>
        </div>
        <div class="user">
            <label for="pass">
                <input type="password" placeholder="Confirm Password" name="new_password2" id="pass" required>
            </label>
        </div>
        
        <div class="log"><button type="submit">Change Password</button></div>
    </form>
</div>

{% endblock content %}